{% extends 'mailing/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}Попытки рассылок{% endblock %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="margin-top:50px;">
    <h1 class=" display-6 fw-normal">Попытки рассылок</h1>
</div>
{% endblock %}


{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-0 text-center">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Получатель</th>
            <th scope="col">Рассылка</th>
            <th scope="col">Статус</th>
            <th scope="col">Время попытки</th>
            <th scope="col">Ответ сервера</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
        {% if request.user|has_group:"managers" or user == log.mailing_list.owner %}
        <tr>
            <th scope="row">{{ log.pk }}</th>
            <td>{{ log.client }}</td>
            <td><a href="{% url 'mailing:mailing_details' log.client.mailing_list.pk %}" class="link-primary">{{ log.mailing_list }}</a></td>
            <td>{{ log.status_log }}</td>
            <td>{{ client.time_log_send }}</td>
            <td>{{ client.server_response }}</td>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
