{% extends 'mailing/base.html' %}
{% load static %}

{% block title %}Удаление сообщения{% endblock %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="margin-top:50px;">
    <h1 class=" display-6 fw-normal">Удалить сообщение</h1>
</div>
{% endblock %}


{% block content %}
<div class="row text-start">
    <div class="col-lg-10 col-md-6 col-sm-12 mx-auto">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Вы уверены, что хотите удалить "{{message.theme}}"?</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="" class="form-floating">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Удалить
                    </button>
                    <a href="{% url 'mailing:messages_all' %}" class="btn btn-lg btn-block btn-outline-secondary">Отмена
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}