{% extends 'mailing/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}Сообщения{% endblock %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="margin-top:50px;">
    <h1 class=" display-6 fw-normal">Все сообщения</h1>
    <a class="btn btn-outline-primary mt-3" href="{% url 'mailing:message_add' %}">Добавить сообщение</a>
</div>
{% endblock %}


{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-0 text-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Тема</th>
            <th scope="col">Текст</th>
            {% if request.user|has_group:"managers" %}
            <th scope="col">Владелец</th>
            {% endif %}
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
        {% if request.user|has_group:"managers" or user == message.owner %}
        <tr>
            <th scope="row">{{ message.pk }}</th>
            <td>{{ message.theme }}</td>
            <td>{{ message.body | truncatechars:50 }}</td>
            {% if request.user|has_group:"managers" %}
            <td>{{ message.owner }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td><a href="{% url 'mailing:message_details' message.pk %}" class="link-primary">Подробнее</a></td>
            {% if user == message.owner %}
            <td><a href="{% url 'mailing:message_update' message.pk %}" class="link-success">Редактировать</a></td>
            {% else %}
            <td></td>
            {% endif %}
            {% if perms.mailing.delete_message or user == message.owner %}
            <td><a href="{% url 'mailing:message_delete' message.pk %}" class="link-danger">Удалить</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
         {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}